/* #5ca2c6 */
/* rgb(8, 128, 8)
rgb(206, 8, 8) */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Playfair+Display:ital,wght@1,500&display=swap');
body {
    /* (oldVal - oldMin) * newRange / oldRange + newMin */
    --fvalue: (max(var(--scroll), 8) - 8) * (206 / 198);
    height: 220vh;
    display: grid;
    margin: 0;
    place-items: center;
}
.body-html {
    background: rgb(8, 128, 8);
    transition: background 1.5s linear;
}
.body-html.colour-trans {
    background: rgb(206, 8, 8);
    transition: background 1.5s linear;
}
.container {
    display: flex;
    justify-content: center;
    position: relative;
}
.text-section {
    height: 120vh;
    position: relative;
    width: 90%;
    margin: auto;
}
.head {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid black;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.head::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* box-shadow: (+ve(right)/-ve(left))x-axis (+ve(down)/-ve(up))y-axis blur-radius spread-radius color-of-shadow */
    /* box-shadow: inset (+ve(left)/-ve(right))x-axis (+ve(up)/-ve(down))y-axis blur-radius spread-radius color-of-shadow */
    /* 
        You can also have more than one shadows for an object
        example;
        box-shadow: 
        10px -50px 0 0 rgba(0, 0, 0, 0.2),
        400px 100px 0 0 rgba(0, 0, 0, 0.2),
        50px 200px 0 0 rgba(0, 0, 0, 0.2),
        260px 300px 0 0 rgba(0, 0, 0, 0.2);
    */
    box-shadow: inset -23px 5px 0 5px rgba(0, 0, 0, 0.178);
}
.head::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 30px;
    background-color: white;
    border: 10px solid black;
    top: 100%;
}
.left, .right {
    background-color: black;
    border-radius: 50%;
    height: 175px;
    width: 175px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.left {
    left: -9%;
    /* margin-left: -180px; */
}
.right {
    right: -9%;
    /* margin-left: 190px; */
}
.left::before, .right::before {
    content: "";
    position: absolute;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    box-shadow: inset -10px 5px 0 3px rgba(255, 255, 255, 0.164);
}
.left::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
}
.right::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background: transparent;
    border-radius: 50%;
    border: 5px solid white;
}
.cutout {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    align-self: flex-end;
    margin-bottom: -50px;
}
.glass {
    position: absolute;
    width: 145px;
    height: 145px;
    border: 15px solid black;
    border-radius: 10px;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.2);
}
.lf-gl {
    left: -5%;
}
.rt-gl {
    right: -5%;
}
.lf-gl::before, .rt-gl::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 20px;
    height: 35px;
}
.lf-gl::before {
    left: -14%;
}
.rt-gl::before {
    right: -14%;
}
.rt-gl::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 40px;
    height:20px;
    left: -30%;
    top: 10%;
}
.head .mouth {
    width: 180px;
    height: 180px;
    border: 10px solid black;
    border-radius: 50%;
    position: absolute;
    align-self: center;
    clip-path: circle(60% at 49% 100%);
    z-index: 2;
}
.mouth::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 10px solid black;
    top: 102px;
    left: -8px;   
    clip-path: circle(50% at 0 0);
}
.mouth::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 10px solid black;
    top: 107px;
    right: -8px;   
    clip-path: circle(50% at 100% 0);
}
.beard {
    position: absolute;
    top: 97%;
    height: 25px;
    width: 5px;
    background-color: black;
    z-index: 1;
    box-shadow: 
        7px  -3px 0 0 rgb(0, 0, 0),
        14px  -4px 0 0 rgb(0, 0, 0),
        21px  -5px 0 0 rgb(0, 0, 0),
        -7px  -3px 0 0 rgb(0, 0, 0),
        -14px  -4px 0 0 rgb(0, 0, 0),
        -21px  -5px 0 0 rgb(0, 0, 0);
}
.body {
    position: absolute;
    height: 50px;
    width: 100px;
    /* background-color: rgb(0, 140, 255); */
    top: 350px;
    border: 10px solid black;
    border-radius: 100% 100% 100% 100% / 100% 100% 0% 0%;
}
.f-body {
    background: rgb(206, 8, 8);
}
.f-body.colour-trans2 {
    background: rgb(8, 128, 8);
}
.body::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 20px;
    border-left: 10px solid black;
    left: 10px;
    top: 39px;
}
.body::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 20px;
    border-right: 10px solid black;
    right: 10px;
    top: 39px;
}
.bg {
    position: absolute;
    height: 50px;
    width: 100px;
    left: -100px;
    border-radius: 30%;
    top: 20px;
    box-shadow: 
        10px  -50px 0 0 rgba(0, 0, 0, 0.2),
        400px 100px 0 0 rgba(0, 0, 0, 0.2),
        50px 200px 0 0 rgba(0, 0, 0, 0.2),
        260px 300px 0 0 rgba(0, 0, 0, 0.2);
    animation-name: bgAnime;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.cap {
    position: absolute;
    top: -52%;
    z-index: 1;
}
.cap .cap-img {
    height: 200px;
    width: 230px;
}
@keyframes bgAnime {
    from {
        box-shadow: 
        10px -50px 0 0 rgba(0, 0, 0, 0.2),
        400px 100px 0 0 rgba(0, 0, 0, 0.2),
        50px 200px 0 0 rgba(0, 0, 0, 0.2),
        260px 300px 0 0 rgba(0, 0, 0, 0.2);
    }
    to {
        box-shadow: 
        400px  -50px 0 0 rgba(0, 0, 0, 0.2),
        10px 100px 0 0 rgba(0, 0, 0, 0.2),
        360px 200px 0 0 rgba(0, 0, 0, 0.2),
        10px 300px 0 0 rgba(0, 0, 0, 0.2);
    }
}
.icon {
    transition: all 1s ease-in-out;
}
.icon:hover {
    transform: rotate(90deg);
}

@keyframes lights {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.lit {
	animation: 2s linear infinite lights;

	&.yellow {
		animation-delay: 0.5s;
	}

	&.blue {
		animation-delay: 1s;
	}

	&.red {
		animation-delay: 1.5s;
	}
}

.lights {
	align-items: top;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	position: fixed;
	inset-inline: 0;
    z-index: 3;

	&.top {
		top: 0;
	}

	&.bottom {
		bottom: 0;
		rotate: 180deg;
	}

	& svg {
		display: block;
		width: 100%;
	}

	& svg:nth-child(2) ~ svg {
		display: none;

		@media (min-width: 400px) {
			display: block;
		}
	}

	& svg:nth-child(3) ~ svg {
		display: none;

		@media (min-width: 500px) {
			display: block;
		}
	}

	& svg:nth-child(4) ~ svg {
		display: none;

		@media (min-width: 600px) {
			display: block;
		}
	}
}

#lights-def {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

/* bell ring animation */
@keyframes ring {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.bell {
    width: 70px; /* Adjust the size as needed */
    height: 70px; 
    animation: ring 2s infinite;
    transform-origin: center bottom;
}
.bell-img {
    width: 100%;
    height: 400px;
}
.text-bg {
    padding: 30px;
    text-align: center;
}
.text-bg h1 {
    font-size: 50px;
    color: white;
    font-family: 'Playfair Display', serif;
    text-shadow: 2px 2px 4px #333;
}
.text-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-flex p {
    font-size: 30px;
    color: white;
    font-family: 'Dancing Script', cursive;
}